@model Product

<style>
     /* Page Styling */
    .text-gradient {
        background: linear-gradient(90deg, #ff8a00, #e52e71);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    /* Gradient Background */
    .gradient-background {
        background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
        padding: 60px 0;
        border-radius: 15px;
        margin-bottom: 30px;
    }
</style>

@section PageTitle {

    <!-- Page Title -->
    <section class="container-fluid - sm">
        <div class="gradient-background mt-4 animate__animated animate__fadeInDown">
            <div class="container text-center">
                <h1 class="display-4 fw-bold text-gradient">Product Details</h1>
                <p class="lead text-white fs-3">@Model.Name</p>
            </div>
        </div>
    </section>
    <!-- Page Title -->
}


<section class="py-5">
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image"> <img src="@Model.Image" id="main_product_image" width="350"> </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-3 right-side">
                        <h2>@Model.Name <img src="@Model.Image" id="main_product_image" width="30"></h2>
                        <div class="mt-2 pr-3 content">
                            <p>
                                @Model.Description
                            </p>
                        </div>
                        <h3 class>$@Model.Price</h3>
                        
                        <div class="mt-4"> <a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Id" class="btn btn-primary mt-auto">Add to Cart</a> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







